---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import HeroSection from '../components/pages_content/HeroSection.astro';
import AboutSection from '../components/pages_content/AboutSection.astro';
import EventsSection from '../components/pages_content/EventsSection.astro';
import JoinSection from '../components/pages_content/JoinSection.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
	<Navbar />
	<main>
		<HeroSection />
		<AboutSection />
		<EventsSection />
		<JoinSection />
	</main>
	<Footer />
</Layout>
